.container{
    width: 65%;
    margin: 4rem auto 1rem auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 1920px;
}

h1{
    
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
   
}

.productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.producto__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.producto__container:hover{
    background-color: #48426D;
    border-radius: 1rem;
    color:white;
    transition: 0.3s;
    
}

.producto{
    border-radius: 1rem;
    
}

.precio{
    font-weight: 600;
}

.check{
    
    background-color: #48426D;
    color:white;
}

img{
	width: 10rem;
	height: 10rem;
}